
.icon-home:before { content: '\e800'; } /* '' */
.icon-pencil:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e803'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
