body{
    overflow: hidden;
}
html{
    background-color: #2B9CB4;
}
#container, #container2{
    background-color: #2B9CB4;
    color: #2B9CB4;
    margin: 1%;
}
#container, #container2 * {
    font-weight: bold;
}
.main_header{
    background-color: #2B9CB4;
    display: grid;
    font-size: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "header header empty"
    "header header section";    
}
main{
    background-color: #1D6B8D;
    border-radius: 2rem;
    margin-top: 5%;
}
#home{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #1D6B8D;
    font-size: 3rem;
    margin: 0%;
    display: grid;
    grid-area: header;
    place-content: center;
    border-radius: 22px;
    border-top-right-radius: 0;
}
aside{
    display: grid;
    grid-area: empty;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #1D6B8D;
    user-select: none;
    -moz-user-select: none;
    border-radius: 22px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    place-content: center;
}
.icons_divs{
    display: flex;
    margin: 2% 10% 2% 10%;
    padding: 2%;
    background-color: #1D6B8D;
    color: #2B9CB4;
    border-radius: 1rem;
}
main{
    background-color: #1D6B8D;
    border-radius: 22px;
    margin-top: 2%;
    padding: 1%;
}
article{
    background-color: #2B9CB4;
    border-radius: 22px;
    margin: 1%;
    color: #1D6B8D;
}
#box{
    background-color: #1D6B8D;
    display: flex;
    flex-direction: column;
}
img{
    border-radius: 25px;
    margin: 0.2%;
}
nav{
    display: flex;
    grid-area: section;
    background-color: #2B9CB4;
    flex-direction: row;
    border-radius: 10px;
    justify-content: center;
}
li{
    margin: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 15%;
}
a{
    text-decoration: none;
    color: #2B9CB4;
}
textarea, input{
    outline: none;
    border: hidden;
    background-color: #2B9CB4;
    resize: none;
    caret-color: #022f43;
    color: #1D6B8D;
    font-size: 30px;
    text-shadow: 2px 2px 6px #308599;
    border-radius: 22px;
    margin: 0.5%;
}
textarea{
    color: #2B9CB4;
}
textarea::placeholder
{
    opacity: 1;
    outline: none;
    border: hidden;
    color: #2B9CB4;
}
#logging{
    background-color: #2B9CB4;
    text-shadow: none;
    display: flex;
    flex-direction: column;
    border-radius: 22px;
    margin-bottom: 2%;
}
.logging{
    background-color: #1D6B8D;
    text-shadow: none;
}
svg path {
    fill: #1D6B8D;
}
svg{
    width: 4%;
    height: 4%;
}
#close{
    display: flex;
    justify-content: flex-end;
}
form{
    display: flex;
    background-color: #2B9CB4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logging1{
    background-color: #1D6B8D;
    width: 90%;
    height: 98%;
    border-radius: 22px;
    margin: 1%;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
label{
    font-size: large;
    margin-left: 2%;
    font-size: 200%;
}
.account{
    color: #2B9CB4;
    background-color: #1D6B8D;
}
#showPassword{
    display: flex;
    flex-direction: row;
    color: #1D6B8D;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}
#submit{
    color:#2B9CB4;
    cursor: pointer;

}
#showPassword{
    color: #2B9CB4;
}
#messageSend{
    color: #1D6B8D;
}
#messages{
    overflow: auto;
    height: 29em;
    scrollbar-width: none;
}
#messages > article{
    display: grid;
    grid-template-columns: 10% 25% 1fr;
    grid-template-rows: 40% 1fr;
    grid-template-areas: 
    "img user topic"
    "message message message";
}
#messages > article > h1{
    grid-area: user;
    margin: 0;
    padding: 0;
}

#messages > article > h2{
    grid-area:  topic;
    margin: 0;
    padding: 0;
}

#messages > article > p{
    grid-area: message;
    margin: 0;
    padding: 1%;
}

#messages > article > img{
    grid-area: img;
    margin: 0;
    padding: 0;
}
#messages::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

#messages::-webkit-scrollbar-thumb {
  background-color: #2B9CB4;
  border-radius: 1em;
}
#signUpIn{
    margin-left: 3%;
}